[submodule "jni/SDL"]
	path = jni/SDL
	url = https://github.com:spurious/SDL-mirror.git
[submodule "jni/src"]
	path = jni/src
	url = https://github.com/o4dev/sdltest
[submodule ".tools/ndk"]
	path = .tools/ndk
	url = https://android.googlesource.com/platform/ndk
